{% extends 'layout.html' %} {% block head %}
<title>EduNg | Add Blog Post Page</title>
{% endblock %} {% block body %}
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form method="POST" action="/add_blog.html">
          {{ form.hidden_tag() }}

          <!-- Title -->
          <div class="form-group">
            {{ form.title.label(class="form-label") }} {{
            form.title(class="form-control") }}
          </div>

          <!-- Author -->
          <div class="form-group">
            {{ form.author.label(class="form-label") }} {{
            form.author(class="form-control") }}
          </div>

          <!-- Slug -->
          <div class="form-group">
            {{ form.slug.label(class="form-label") }} {{
            form.slug(class="form-control") }}
          </div>

          <!-- Content -->
          <div class="form-group">
            {{ form.content.label(class="form-label") }} {{
            form.content(class="form-control", rows="10") }}
          </div>

          <!-- Submit Button -->
          <div>{{ form.submit(class="btn btn-secondary") }}</div>
          <br />
          <br />
        </form>
      </div>
    </div>
  </div>
</body>
{% endblock %}
