{% extends 'layout.html' %} {% block head %}
<title>Help Line | Edit Form</title>
{% endblock %} {% block body %}

<body>
  <!-- banner -->

  <!-- breadcrumb -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ url_for('dashboard') }}">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Help Line Form</li>
    </ol>
  </nav>
  <!-- breadcrumb -->
  <!-- //banner -->

  <!-- admission form -->
  <div class="form-w3l py-5">
    <div class="container py-xl-5 py-lg-3">
      <h3
        class="title text-capitalize font-weight-light text-dark text-center mb-5"
      >
        Help Line
        <span class="font-weight-bold">form</span>
      </h3>
      <div class="register-form pt-md-4">
        <form method="POST">

          <div class="styled-input form-group">
            <label for="name" class="form-control">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ form.name }}" >
          </div>

          <div class="styled-input agile-styled-input-top form-group">
            <label for="centrename" class="category2">Centre Name</label>
            <input type="text" class="form-control" id="centrename" name="centrename" value="{{ form.centrename }}" >
          </div>

          <div class="styled-input form-group">
            <label for="state" class="form-label">State</label>
            <input type="text" class="form-control" id="state" name="state" value="{{ form.state }}" >
          </div>

          <div class="styled-input form-group">
            <label for="centreno" class="form-label">Centre No</label>
            <input type="text" class="form-control" id="centreno" name="centreno" value="{{ form.centreno }}" >
          </div>

          <div class="styled-input form-group">
            <label for="sessionno" class="form-label">Session No</label>
            <input type="text" class="form-control" id="sessionno" name="sessionno" value="{{ form.sessionno }}" >
          </div>

          <div class="styled-input agile-styled-input-top form-group">
            <label for="caller" class="category2">Caller</label>
            <input type="text" class="form-control" id="caller" name="caller" value="{{ form.caller }}" >
          </div>

          <div class="styled-input form-group">
            <label for="issuecat" class="category2">Issue Category</label>
            <input type="text" class="form-control" id="issuecat" name="issuecat" value="{{ form.issuecat }}" >
          </div>

          <div class="form-group">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description" rows="10" >{{ form.description }}</textarea>
          </div>

          <br />

          <div class="form-group">
            <label for="descriptionprevious" class="form-label">Previous Description</label>
            <textarea class="form-control" id="descriptionprevious" name="descriptionprevious" rows="10" >{{ form.descriptionprevious }}</textarea>
          </div>

          <div class="form-group">
            <label for="solution" class="form-label">Solution</label>
            <textarea class="form-control" id="solution" name="solution" rows="10">{{ form.solution }}</textarea>
          </div>

          <!-- Editable field for 'resolved' -->
          <div class="styled-input form-group">
            <label for="resolved" class="category2">Resolved</label>
            <select id="resolved" name="resolved" class="category2" required>
              <option value="" {% if form.resolved == '' %}selected{% endif %}>Select Choice</option>
              <option value="yes" {% if form.resolved == 'yes' %}selected{% endif %}>Yes</option>
              <option value="no" {% if form.resolved == 'no' %}selected{% endif %}>No</option>
            </select>
          </div>

          <div class="form-group">
            <label for="phonenumber" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="phonenumber" name="phonenumber" value="{{ form.phonenumber }}" >
          </div>

          <div class="styled-input form-group">
            <label for="transfer_to_user" class="category2">Transfer To</label>
            <input type="text" class="form-control" id="transfer_to_user" name="transfer_to_user" value="{{ form.transfer_to_user }}" >
          </div>

          <!-- Button to submit the form -->
          
          <input type="submit" value="Update Form" />
        </form>
      </div>
    </div>
  </div>

  <!-- brands -->
  <div class="brands-w3ls py-md-5 py-4">
    <div class="container py-xl-3">
      <ul class="list-unstyled">
        <li>
          <i class="fab fa-supple"></i>
        </li>
        <li>
          <i class="fab fa-angrycreative"></i>
        </li>
        <li>
          <i class="fab fa-aviato"></i>
        </li>
        <li>
          <i class="fab fa-aws"></i>
        </li>
        <li>
          <i class="fab fa-cpanel"></i>
        </li>
        <li>
          <i class="fab fa-hooli"></i>
        </li>
        <li>
          <i class="fab fa-node"></i>
        </li>
      </ul>
    </div>
  </div>
  <!-- //brands -->

  <!-- Calendar -->
  <link rel="stylesheet" href="css/jquery-ui.css" />
  <script src="js/jquery-ui.js"></script>
  <script>
    $(function () {
      $("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
    });
  </script>
  <!-- //Calendar -->

  {% endblock %}
</body>
