{% extends 'layout.html' %} {% block head %}
<title>Help Line | Post Form</title>
{% endblock %} {% block body %}

<body>
  <!-- banner -->

  <!-- breadcrumb -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Help Line Form</li>
    </ol>
  </nav>
  <!-- breadcrumb -->
  <!-- //banner -->

  <!-- admission form -->
  <div class="form-w3l py-5">
    <div class="container py-xl-5 py-lg-3">
      <h3
        class="title text-capitalize font-weight-light text-dark text-center mb-5"
      >
        Help Line
        <span class="font-weight-bold">form</span>
      </h3>
      <div class="register-form pt-md-4">
        <form action="{{ url_for('form') }}" method="POST">
          {{ form.hidden_tag() }}

          <div class="styled-input form-group">
            {{ form.name.label(class="form-control") }} {{
            form.name(class="form-control", required="required") }} {% for error
            in form.name.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            <!-- Error message -->
            {% with messages = get_flashed_messages(with_categories=true) %} {%
            if messages %}
            <ul class="flashes">
              {% for category, message in messages %}
              <li class="text-danger" class="{{ category }}">{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %} {% endwith %}
            <!-- //Errormessage -->
          </div>

          <div class="styled-input form-group">
            {{ form.centreno.label(class="form-label") }} {{
            form.centreno(class="form-control") }} {% for error in
            form.centreno.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>

          <div class="styled-input agile-styled-input-top form-group">
            {{ form.centrename.label(class="category2") }} {{
            form.centrename(class="category2", required="required") }} {% for
            error in form.centrename.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>

          <div class="styled-input form-group">
            {{ form.state.label(class="form-label") }} {{
            form.state(class="form-control") }} {% for error in
            form.state.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>

          <div class="styled-input form-group">
            {{ form.sessionno.label(class="category2") }} {{
            form.sessionno(class="category2", required="required") }} {% for
            error in form.sessionno.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>

          <div class="styled-input agile-styled-input-top form-group">
            {{ form.caller.label(class="category2") }} {{
            form.caller(class="category2", required="required") }} {% for error
            in form.caller.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>

          <div class="styled-input form-group">
            {{ form.issuecat.label(class="category2") }} {{
            form.issuecat(class="category2", required="required") }} {% for
            error in form.issuecat.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>

          <!-- Add these hidden fields next to the description and solution fields -->
          <input
            type="hidden"
            id="descriptionTranscript"
            name="descriptionTranscript"
          />
          <input
            type="hidden"
            id="descriptionPreviousTranscript"
            name="descriptionPreviousTranscript"
          />
          <input
            type="hidden"
            id="solutionTranscript"
            name="solutionTranscript"
          />

          <div class="form-group" style="margin-right: 43px">
            <label for="description" class="form-label"
              >Description of Problem by Caller</label
            >
            {{ form.description(class="form-control", rows="10") }}
            <button
              type="button"
              id="startDictationDescription"
              class="btn btn-primary mt-2"
            >
              Start
            </button>
          </div>

          <div class="form-group">
            <label for="descriptionprevious" class="form-label"
              >Description of the previous call</label
            >
            {{ form.descriptionprevious(class="form-control", rows="10") }}
          </div>

          <div class="form-group">
            {{ form.solution.label(class="form-label") }} {{
            form.solution(class="form-control", rows="10") }}
            <button
              type="button"
              id="startDictationSolution"
              class="btn btn-primary mt-2"
            >
              Start
            </button>
          </div>

          <div class="styled-input form-group">
            {{ form.resolved.label(class="category2") }} {{
            form.resolved(class="category2", required="required") }} {% for
            error in form.resolved.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>

          <div class="form-group">
            {{ form.phonenumber.label(class="form-label") }} {{
            form.phonenumber(class="form-control") }}
          </div>

          <div class="styled-input form-group">
            {{ form.transfer_to_user.label(class="category2") }} {{
            form.transfer_to_user(class="category2", required="required") }} {%
            for error in form.transfer_to_user.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>

          <input type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </div>
  <!-- admission form -->

  <!-- brands -->
  <div class="brands-w3ls py-md-5 py-4">
    <div class="container py-xl-3">
      <ul class="list-unstyled">
        <li>
          <i class="fab fa-supple"></i>
        </li>
        <li>
          <i class="fab fa-angrycreative"></i>
        </li>
        <li>
          <i class="fab fa-aviato"></i>
        </li>
        <li>
          <i class="fab fa-aws"></i>
        </li>
        <li>
          <i class="fab fa-cpanel"></i>
        </li>
        <li>
          <i class="fab fa-hooli"></i>
        </li>
        <li>
          <i class="fab fa-node"></i>
        </li>
      </ul>
    </div>
  </div>
  <!-- //brands -->

  <!-- Calendar -->
  <link rel="stylesheet" href="css/jquery-ui.css" />
  <script src="js/jquery-ui.js"></script>
  <script>
    $(function () {
      $("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
    });
  </script>
  <!-- //Calendar -->
  <script src="https://unpkg.com/speech-recognition"></script>

  <script>
    function startRecording(fieldId) {
      const recognition = new webkitSpeechRecognition();
      recognition.lang = "en-AF"; //"en-AF" or "en-NG" or "en-US"

      recognition.onresult = function (event) {
        const transcript = event.results[0][0].transcript;

        document.getElementById(fieldId + "Transcript").value = transcript;

        document.getElementById(fieldId).value = transcript;
      };

      recognition.start();
    }

    document.addEventListener("DOMContentLoaded", function () {
      function startDictation(inputFieldId, transcriptFieldId) {
        var recognition = new webkitSpeechRecognition();

        recognition.onresult = function (event) {
          var result = event.results[0][0].transcript;
          document.getElementById(inputFieldId).value = result;
          document.getElementById(transcriptFieldId).value = result;
        };

        recognition.start();
      }

      document
        .getElementById("startDictationDescription")
        .addEventListener("click", function () {
          startDictation("description", "descriptionTranscript");
        });

      document
        .getElementById("startDictationSolution")
        .addEventListener("click", function () {
          startDictation("solution", "solutionTranscript");
        });
    });

    // document.addEventListener("DOMContentLoaded", function () {
    //   var recognition;
    //   var isDictationActive = false;

    //   function startDictation(
    //     inputFieldId,
    //     transcriptFieldId,
    //     continuous = true,
    //     interimResults = true
    //   ) {
    //     recognition = new webkitSpeechRecognition();
    //     recognition.continuous = continuous;
    //     recognition.interimResults = interimResults;

    //     recognition.onresult = function (event) {
    //       var result = event.results[0][0].transcript;
    //       document.getElementById(inputFieldId).value = result;
    //       document.getElementById(transcriptFieldId).value = result;
    //     };

    //     // Set a longer timeout for continuous recognition
    //     if (continuous) {
    //       recognition.onend = function () {
    //         if (isDictationActive) {
    //           recognition.start();
    //         }
    //       };
    //     }

    //     recognition.start();
    //     isDictationActive = true;
    //     document.getElementById("startDictation").disabled = true;
    //     document.getElementById("stopDictation").disabled = false;
    //   }

    //   function stopDictation() {
    //     if (isDictationActive) {
    //       recognition.stop();
    //       isDictationActive = false;
    //       document.getElementById("startDictation").disabled = false;
    //       document.getElementById("stopDictation").disabled = true;
    //     }
    //   }

    //   // Start dictation when the start button is clicked
    //   document
    //     .getElementById("startDictation")
    //     .addEventListener("click", function () {
    //       startDictation("description", "descriptionTranscript");
    //     });

    //   // Stop dictation when the stop button is clicked
    //   document
    //     .getElementById("stopDictation")
    //     .addEventListener("click", stopDictation);
    // });

    // // another instances for solution field

    // document.addEventListener("DOMContentLoaded", function () {
    //   var recognition;
    //   var isDictationActive = false;

    //   function startDictation1(
    //     inputFieldId,
    //     transcriptFieldId,
    //     continuous = true,
    //     interimResults = false
    //   ) {
    //     recognition = new webkitSpeechRecognition();
    //     recognition.continuous = continuous;
    //     recognition.interimResults = interimResults;

    //     recognition.onresult = function (event) {
    //       var result = event.results[0][0].transcript;
    //       document.getElementById(inputFieldId).value = result;
    //       document.getElementById(transcriptFieldId).value = result;
    //     };

    //     // Set a longer timeout for continuous recognition
    //     if (continuous) {
    //       recognition.onend = function () {
    //         if (isDictationActive) {
    //           recognition.start();
    //         }
    //       };
    //     }

    //     recognition.start();
    //     isDictationActive = true;
    //     document.getElementById("startDictation1").disabled = true;
    //     document.getElementById("stopDictation1").disabled = false;
    //   }

    //   function stopDictation1() {
    //     if (isDictationActive) {
    //       recognition.stop();
    //       isDictationActive = false;
    //       document.getElementById("startDictation1").disabled = false;
    //       document.getElementById("stopDictation1").disabled = true;
    //     }
    //   }

    //   // Start dictation when the start button is clicked
    //   document
    //     .getElementById("startDictation1")
    //     .addEventListener("click", function () {
    //       startDictation1("solution", "solutionTranscript");
    //     });

    //   // Stop dictation when the stop button is clicked
    //   document
    //     .getElementById("stopDictation1")
    //     .addEventListener("click", stopDictation1);
    // });
  </script>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <!-- <script>
  $(document).ready(function () {
    // Get the resolved and transfer_to_user elements
    var resolvedSelect = $("#resolved");
    var transferToUserInput = $("#transfer_to_user");

    // Add change event listener to the resolved field
    resolvedSelect.change(function () {
      // Check if "yes" is selected
      if (resolvedSelect.val() === "yes") {
        // If "yes" is selected, disable the transfer_to_user field
        transferToUserInput.prop("disabled", true);
      } else {
        // If other value is selected, enable the transfer_to_user field
        transferToUserInput.prop("disabled", false);
      }
    });
  });
</script> -->
  <!-- dropdown elements -->
  <select id="centreno" name="centreno">
    <!-- Options will be dynamically added here -->
  </select>

  <select id="centrename" name="centrename">
    <!-- Options will be dynamically added here -->
  </select>

  <select id="state" name="state">
    <!-- Options will be dynamically added here -->
  </select>

  <!-- JavaScript for dropdown removal -->
  <script>
    $(document).ready(function () {
      // Function to remove duplicates from a dropdown
      function removeDuplicates(selectId) {
        console.log("Removing duplicates for " + selectId);
        var select = $("#" + selectId);
        var uniqueOptions = new Set();

        // Remove duplicate options based on their values
        select.find("option").each(function () {
          var value = $(this).val();
          if (uniqueOptions.has(value)) {
            $(this).remove();
          } else {
            uniqueOptions.add(value);
          }
        });
      }

      // Remove duplicates for each dropdown
      removeDuplicates("centreno");
      removeDuplicates("centrename");
      removeDuplicates("state");
    });
  </script>

  <script>
    $(document).ready(function () {
      $("#centreno").change(function () {
        var selectedCentreno = $(this).val();

        // Make an AJAX request to get related options
        $.ajax({
          url: "/get_options/" + selectedCentreno,
          type: "GET",
          success: function (data) {
            // Update the options for centrename dropdown
            var centrenameDropdown = $("#centrename");
            centrenameDropdown.empty();
            centrenameDropdown.append(
              '<option value="">Select Centrename</option>'
            );
            for (var i = 0; i < data.length; i++) {
              centrenameDropdown.append(
                '<option value="' +
                  data[i].centrename +
                  '">' +
                  data[i].centrename +
                  "</option>"
              );
            }

            // Update the options for state dropdown
            var stateDropdown = $("#state");
            stateDropdown.empty();
            stateDropdown.append('<option value="">Select State</option>');
            for (var i = 0; i < data.length; i++) {
              stateDropdown.append(
                '<option value="' +
                  data[i].state +
                  '">' +
                  data[i].state +
                  "</option>"
              );
            }
          },
          error: function (error) {
            console.log(error);
          },
        });
      });
    });
  </script>

  <script>
    $(document).ready(function () {
      var descriptionInput = $("#description");
      var descriptionPreviousInput = $("#descriptionprevious");

      // Add an input event listener to the 'description' field
      descriptionInput.on("input", function () {
        // Update the 'descriptionprevious' field with the value of 'description'
        descriptionPreviousInput.val(descriptionInput.val());
      });

      // Add an event listener to the centreno dropdown
      $("#centreno").change(function () {
        // Get the selected centreno value
        var selectedCentreno = $(this).val();

        // Make an AJAX request to get the descriptionprevious data
        $.ajax({
          url: "/get_descriptionprevious/" + selectedCentreno,
          type: "GET",
          success: function (response) {
            // Update the descriptionprevious text field with the retrieved data
            var descriptionpreviousData = response.descriptionprevious;

            $("#descriptionprevious").val(descriptionpreviousData);
          },
          error: function (error) {
            console.log(error);
          },
        });
      });
    });
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Get the number input element
      var numberInput = document.getElementById("phonenumber");

      numberInput.addEventListener("input", function () {
        // Get the current value of the number
        var numberValue = numberInput.value;

        // Check if the length is not equal to 11 digits
        if (numberValue.length !== 11) {
          // Clear the input
          numberInput.setCustomValidity("Please enter exactly 11 digits.");
        } else {
          // Clear any previous validation message
          numberInput.setCustomValidity("");
        }
      });
    });
  </script>

  {% endblock %}
</body>
