{% extends 'layout.html' %} {% block head %}
<title>Centre with Frequent Problems</title>
{% endblock %} {% block body %}
<body>
  <div class="container mt-5">
    <h4 class="text-center">Centre with Frequent Problems</h4>
    <br />

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Centre Number</th>
            <th>Centre Name</th>
          </tr>
        </thead>
        <tbody>
          {% for index in range(frequent_centreno_values|length) %}
          <tr>
            <td>{{ frequent_centreno_values[index] }}</td>
            <td>{{ frequent_centrename_values[index] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>
{% endblock %}
