{% extends 'layout.html' %} {% block head %}
<title>Help Line | Login Form</title>
{% endblock %} {% block body %}
<body>
  <!-- breadcrumb -->

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="login.html">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Login Form</li>
    </ol>
  </nav>
  <!-- breadcrumb -->
  <!-- //banner -->

  <!-- login -->
  <h5 class="text-center" style="color: red">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
      {% for message in messages %} {{ message }} {% endfor %}
    </ul>
    {% endif %} {% endwith %}
  </h5>
  <div class="login-w3ls py-5">
    <div class="container py-xl-5 py-lg-3">
      <h3
        class="title text-capitalize font-weight-light text-dark text-center mb-5"
      >
        Login <span class="font-weight-bold">now</span>
      </h3>
      <!-- content -->
      <div class="sub-main-w3 pt-md-4">
        <form method="POST" action="">
          {{ form.hidden_tag() }}

          <!-- Add a div to hold the logo with a specific class -->
          <div class="logo-container">
            <img
              src="static/images/logo.png"
              class="transparent-logo"
              alt="Logo"
            />
          </div>

          <div class="form-style-agile form-group">
            {{ form.username.label(class="form-label") }} {{
            form.username(class="form-control", placeholder="Username") }} {%
            for error in form.username.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>

          <div class="form-style-agile form-group">
            {{ form.password.label(class="form-label") }} {{
            form.password(class="form-control", placeholder="Password") }} {%
            for error in form.password.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>

          <!-- switch -->
          <ul class="list-unstyled list-login">
            <div class="text-center mt-3">
              <!-- Other buttons or links as needed -->
            </div>
            <li class="float-right">
              <a href="#" class="text-right text-white text-capitalize">
                forgot password?</a
              >
            </li>
          </ul>
          <!-- //switch -->

          <input type="submit" value="Login" />

          <p class="text-center dont-do mt-4 text-white">
            Don't have an account?
            <a
              href="{{ url_for('register')}}"
              class="text-white font-weight-bold"
            >
              Register Now</a
            >
          </p>
        </form>
      </div>
      <!-- //content -->
    </div>
  </div>

  <!-- //login -->

  {% endblock %}
</body>
