{% extends 'layout.html' %} {% block head %}
<title>Reset Password</title>

{% endblock %} {% block body %}
<body>
  <div class="container mt-5">
    <h2 class="text-center mb-3">Manual Password Reset</h2>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <form
      method="post"
      action="{{ url_for('reset_password_manually', username=username) }}"
    >
      {{ form.csrf_token }} {% if form.errors %}
      <ul class="errors" style="color: red">
        {% for field, errors in form.errors.items() %} {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %} {% endfor %}
      </ul>
      {% endif %}
      <div class="form-group">
        <label for="new_password">New Password</label>
        <input
          type="password"
          id="new_password"
          name="new_password"
          class="form-control"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Reset Password</button>
      <br />
      <br />
    </form>
  </div>

  {% endblock %}
</body>
