{% extends 'layout.html' %} {% block head %}
<title>Help Line | Summarry Solution Form</title>
{% endblock %} {% block body %}

<body>
  <!-- Loop through all forms and display their data -->

  <div class="container mt-5">
    <h5>Summary Solutions Page</h5>

    <label for="searchInput" class="form-label">Search:</label>
    <input
      type="text"
      class="form-control"
      id="searchInput"
      oninput="searchSolutions()"
      placeholder="Enter search keyword"
    />

    {% for form in resolved_forms %}
    <div class="card">
      <div>
        <p><strong>Description:</strong> {{ form.description }}</p>
        <p><strong>Solution:</strong> {{ form.solution }}</p>
        <p><strong>Date/Time of Solution:</strong> {{ form.date_updated }}</p>
        <p><strong>Updated by:</strong> {{ form.updated_by }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- //brands -->
  <script>
    function searchSolutions() {
      var input, filter, cards, card, i, txtValue;
      input = document.getElementById("searchInput");
      filter = input.value.toUpperCase();
      cards = document.querySelectorAll(".card");

      for (i = 0; i < cards.length; i++) {
        card = cards[i];

        // Concatenate text content of relevant elements you want to search
        txtValue = card.textContent || card.innerText;

        // Use indexOf to check if the filter matches the concatenated text
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          card.style.display = "";
        } else {
          card.style.display = "none";
        }
      }
    }
  </script>

  {% endblock %}
</body>
